name: Node.js Package

on:
  push:
    branches:
      - master

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 10
          registry-url: https://registry.npmjs.org/
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}


# jobs:
#   publish-to-npm:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout release branch code
#         uses: actions/checkout@v2
#         with:
#           fetch-depth: 1

#       - name: Get yarn cache
#         id: yarn-cache-dir-path
#         run: echo "::set-output name=dir::$(yarn cache dir)"

#       - name: Cache dependencies
#         uses: actions/cache@v1.2.0
#         id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
#         with:
#           path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
#           key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
#           restore-keys: |
#             ${{ runner.os }}-yarn-

#       - name: Use Node.js
#         uses: actions/setup-node@v1.4.2
#         with:
#           node-version: 12
#           registry-url: https://registry.npmjs.org

#       - name: Publish to NPM
#         run: npm publish || true
#         env:
#           NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}